.note-edit {
    margin-top: 20px;
}

.edit-container input {
    border: 1px solid #d8d8d8;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.btn-add {
    margin: 5px;
}

.btn-add button {
    border: none;
    outline: none;
}

.btn-add i {
    height: 30px;
    font-size: 20px;
    align-items: center;
    width: 20px;
    margin-top: 5px;
    opacity: 0.5;
    transition: .3s;
    cursor: pointer;
    color: rgb(20, 31, 77);
}

.btn-add i:hover {
    opacity: 1;
}